# =======================
# Librerías generales
# =======================
pip
python-dotenv~=1.1.0
requests~=2.32.3

# =======================
# Jupyter & entorno interactivo
# =======================
ipykernel
ipython~=8.32.0
jupyter

# =======================
# Procesamiento de datos
# =======================
imbalanced-learn
numpy~=1.26.4
pandas~=2.2.3
pyspark==3.4.1
scikit-learn~=1.6.1
scipy==1.11.4
setuptools==68.2.2           # Necesario para evitar errores al instalar pyspark desde source
statsmodels

# =======================
# Visualización
# =======================
matplotlib~=3.10.0
missingno
plotly
seaborn~=0.13.2

# =======================
# Visualización de grafos y redes
# =======================
graphviz
pydot

# =======================
# Procesamiento de texto / NLP
# =======================
Unidecode~=1.3.8
gensim~=4.3.2
nltk~=3.9
spacy~=3.7.0

# =======================
# Deep Learning
# =======================
accelerate==0.27.2           # IMPORTANTE para usar Trainer correctamente
keras-cv
tensorflow~=2.16.2
tensorflow-macos
tensorflow-metal
tf-keras                     # Workaround para compatibilidad Keras 3 con Transformers
torch~=2.6.0
transformers==4.39.3

# =======================
# Hugging Face Datasets
# =======================
datasets~=3.5.0

# =======================
# Modelos adicionales
# =======================
lightgbm~=4.6.0
xgboost~=2.1.4

# =======================
# Geolocalización / Mapas
# =======================
Folium~=0.19.4
geopy~=2.4.1

# =======================
# Conectores externos
# =======================
mysql-connector-python
pymongo
sqlalchemy

# =======================
# Apache Kafka
# =======================
confluent-kafka~=2.3.0

# =======================
# Kaggle
# =======================
kagglehub~=0.3.8

# =======================
# Proyectos específicos
# =======================
google-cloud-aiplatform

# =======================
# Utilidades y herramientas adicionales
# =======================
simpletransformers~=0.70.1
tqdm~=4.67.1
opencv-python~=4.11.0.86
protobuf~=4.25.6