Flask
Folium
google-cloud-aiplatform
geopy
imbalanced-learn
ipykernel
jupyter
matplotlib
missingno
mysql-connector-python
numpy
pandas
pip
plotly
pymongo
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
tensorflow