Flask
Folium~=0.19.4
geopy~=2.4.1
google-cloud-aiplatform
imbalanced-learn
ipykernel
jupyter
matplotlib~=3.10.0
missingno
mysql-connector-python
numpy~=1.26.4
pandas~=2.2.3
pip
plotly
pymongo
scikit-learn~=1.6.1
scipy~=1.15.2
seaborn~=0.13.2
sqlalchemy
statsmodels
tensorflow-macos
tensorflow-metal
kagglehub~=0.3.8
requests~=2.32.3
opencv-python
scikit-image
pydot
graphviz
keras-cv