# Nombre del contenedor
CONTAINER_NAME=hdfs-actividad7

# Nombre de la imagen
IMAGE_NAME=hdfs-actividad7

# Ruta en el contenedor donde se montan los archivos
INPUT_DIR=/home/ubuntu/bigdata/examples

# Plataforma de arquitectura para Docker
PLATFORM=linux/amd64

# Nombre de usuario para el directorio HDFS
HDFS_USER_NAME=asier_ortiz