# Nombre del contenedor
CONTAINER_NAME=hdfs-actividad7

# Nombre de la imagen
IMAGE_NAME=hdfs-actividad7

# Ruta al volumen que se montará
VOLUME_DIR=$(pwd)/data

# Plataforma de arquitectura para Docker
PLATFORM=linux/amd64