# Nombre de usuario HDFS que se usará para crear el directorio /user/ubuntu/asier_ortiz
HDFS_USER_NAME=asier_ortiz

# Ruta de entrada donde se encuentran los ficheros locales para cargar en HDFS
INPUT_DIR=/home/ubuntu/bigdata/examples

# Comentar la siguiente línea si estás en Mac con chip ARM
PLATFORM=linux/amd64